##typeorm-model-generator -h iphost -d database -u sa -x password -e mssql -o ./src/entity -s dbo
DB_PASSWORD = "passwordDatabase"
DATABASE = "nameDatabase"
HOST_DATABASE = "ipDatabase"
PORT_DATABASE = "portDatabase"
USER_DATABASE = "nameUserDatabase"